
.idea/dictionaries/jureh.xml
.idea/misc.xml
.idea/modules.xml
.idea/Prenos-toplote.iml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/PT_konstante.cpython-36.pyc
__pycache__/PT_konstante.cpython-36.pyc
